.wrapper {
  & > h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
  }
  .content {
    ul {
      list-style: none;
    }
    li {
      padding: 10px;
      font-size: 1.6rem;
      border-bottom: 1px solid black;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        background-color: #35509a;
        color: white;
      }
    }
  }
}
