.expItem {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 40px;
  border-color: #e2e8f0;
  min-height: 273px;
  .icon {
    width: 48px;
    height: 48px;
    font-size: 3rem;
  }
  & h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    color: #2d3748;
  }
  & p {
    opacity: 0.7;
    font-size: 1.6rem;
  }
  .expContent {
    display: flex;
    gap: 2rem;
  }
}
